<header>
  <nav class="navbar sticky-top navbar-light bg-light conteiner">
    <a class="navbar-brand logo" routerLink="/">{{book.name}}</a>
  </nav>
</header>
<section class="content">
  <div class="image">
    <img [src]="book.imageUrl" [alt]="book.name">
  </div>
  <div class="contain">
    <div class="name">
      {{book.name}}
    </div>
    <div class="description">
      {{book.description}}
    </div>
    <span>Рейтинг:</span>
    <star-rating [value]="book.star" [totalstars]="5" checkedcolor="#FFC700" uncheckedcolor="#D9D9D9" size="32px"
                 [readonly]="false" class="star"></star-rating>
    <button routerLink="/rate/{{book.id}}">Оставить отзыв</button>
  </div>
</section>
