.conteiner {
  font-weight: 700;
  font-family: Ubuntu, serif;
  padding-left: 3%;
  background-color: #730000;
  margin: 0 auto;
  display: flex;
  height: 11vh;
  align-items: center;
}

.logo {
  font-size: 3vw;
  color: white;
  text-decoration: none;
}

.cntnt{
  display: flex;
  margin-top: 3%;
  padding: 0;
  border: 1px solid black;
  border-radius: 14px;
  width: 80vw;
}

.rait{
  border: 1px solid black;
  width: 30%;
  height: 50vh;
  justify-content: center;
  padding: 10% 0 0 2%;
  border-radius: 14px 0 0 14px;
}

button{
  margin: 0 30% 0 20%;
  border-radius: 14px;
  height: 5vh;
  width: 12vw;
  border: none;
  background-color: #B40001;
  color: white;
  text-align: center;
  font-size: 1.2vw;
}

input:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
.form{
  width: 70%;
  height: 100%;
}

textarea{
  width: 100%;
  border-radius: 0 14px 0 0;
}
