a {
  color: black;
  text-decoration: none;
}

.logo {
  color: white;
}

.conteiner {
  font-weight: 700;
  font-family: Ubuntu, serif;
  padding-left: 3%;
  font-size: 52px;
  background-color: #730000;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 11vh;
  align-items: center;
}

.filters {
  padding: 1%;
}

.catalog {
  padding-top: 1%;
}

.crd1 {
  background-color: #B40001;
  border-radius: 14px;
  margin: 2%;
  color: white;
  width: 235px;
}

.up-card {
  border-radius: 14px 14px 0 0;
  margin: 0 auto;
  height: 315px;
  width: 235px;
}

.content {
  margin-top: 0;
  padding-left: 3%;
  padding-bottom: 1.5%;
  border-radius: 0 0 14px 14px;
  background-color: #B40001;
  font-family: 'Ubuntu';
  color: white;
  font-size: 14px;
}

.home-page {
  display: flex;
}

.column {
  display: inline-flex;
}



