<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="conteiner">
          <a routerLink="/feedback/id" class="logo">Система рейтинга</a>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="filters">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center text-uppercase mb-5 head">Фильтры</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 col-md-6 col-sm-12">
      <ul class="nav nav-fill nav-pills nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="#">По цене</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">По рейтингу</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">По алфавиту</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">По дате</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">По дате</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">По дате</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="catalog">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6 column" *ngFor="let book of books">
        <div class="card crd1">
          <a routerLink="/book/{{book.id}}">
            <img src="{{book.imageUrl}}" alt="#" class="up-card">
            <div class="content d-flex justify-content cnt">
              <div class="name">
                Название: {{book.name}}
              </div>
              <div class="page">
                Страниц: {{book.paged}}
              </div>
              <div class="genre">
                Жанр: {{book.genre}}
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
